*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a.menu{
    position: absolute;
    top: 0;
    text-decoration: none;
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;
    margin: 20px 0;
    background-color: bisque;
    color:seagreen;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel{
    border-radius: 50px;
    margin: 1rem;
    height: 80vh;
    width: 6vw;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: width 1s ease-in-out;
}

.active{
    transition: width 1s ease-in-out;
    width:60vw;
    cursor:auto;
    display:flex;
    align-items: flex-end;
}

.panel>h3{
    position: relative;
    bottom: 1.4rem;
    left: 1.5rem;
    color: white;
    opacity: 0;
}
.active>h3{
    font-size: 24px;
    font-family: 'Muli', sans-serif;
    color: white;
    position: relative;
    bottom: 1.4rem;
    left: 1.5rem;
    opacity: 1;
    transition: opacity 1.5s ease-in;
}